<div class="productDetailsPage">
    <div class="row">
        <div class="col-5">
            //image
        </div>
        <div class="col-6">
            //thong tin san pham
        </div>
    </div>
    <div class="descripton">
        //mo ta chi tiet
    </div>
    <div class="relatedProduct">
        // san pham co lien quan
    </div>
</div>