@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Store Page";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Message"]</h1>
    <h3>@Localizer["storeIndex"]</h3>
</div>