<footer class="footerContainer">
    <div class="topFooter row">
        <div class="col-3">
            <div class="is-diliver"></div>
            <ul class="p-0">
                <li>
                    <a href="#" class="text-14">Liên hệ</a>
                </li>
                <li>
                    <a href="#" class="text-14">Giới Thiệu</a>
                </li>
                <li>
                    <a href="#" class="text-14">Đổi trả hàng</a>
                </li>
                <li>
                    <a href="#" class="text-14">Điều Khoản</a>
                </li>
                <li>
                    <a href="#" class="text-14">Chính sách bảo mật</a>
                </li>
                <li>
                    <a href="#" class="text-14">Phương thức thanh toán</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <div class="is-diliver"></div>
            <ul class="p-0">
                <li>
                    <a href="#" class="text-14">Tài Khoản</a>
                </li>
                <li>
                    <a href="#" class="text-14">Yêu Thích</a>
                </li>
                <li>
                    <a href="#" class="text-14">Giao hàng</a>
                </li>
                <li>
                    <a href="#" class="text-14">Giỏ Hàng</a>
                </li>
                <li>
                    <a href="#" class="text-14">Theo Dõi Đơn Hàng</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <div class="is-diliver"></div>
            <img src="~/assets/images/Screenshot 2023-11-05 131859.png" alt="..." style="width:220px" />
        </div>
        <div class="col-3">
            <img src="~/assets/images/27be61a780e77d628043bf063332eecb.png" alt="..."/>
            <b class="text-color-white text-14"> Lipstick.vn</b>
            <p class="text-color-white text-14">CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ DỊCH VỤ LOTTESHOP VIỆT NAM</p>
            <p class="text-color-white text-14">LIPSTICK Hà Nội: Số 212 Bà Triệu, P.Lê Đại Hành, Q.Hai Bà Trưng, Hà Nội.</p>
            <p class="text-color-white text-14">Điện thoại: 0968.588.886</p>
            <p class="text-color-white text-14">LIPSTICK TP.HCM: Số 179 Huỳnh Văn Bánh, Phường 11, Quận Phú Nhuận, TP.Hồ Chí Minh.</p>
            <p class="text-color-white text-14">Điện thoại: 0968.588.886</p>
        </div>
    </div>
    <div class="bottomFooter row">
        <div class="col-6 d-flex flex-column">
            <img style="width:90px;" src="~/assets/images/DMCA_logo-std-btn120w.png" alt="..." />
            <span class="text-color-white">
                <b>© 2014 LOTTESHOP.</b>
                All Rights Reserved.
            </span>
        </div>
        <div class="col-6">
            <img style="width:120px" src="~/assets/images/dathongbao-300x114.png" alt="..."/>
            <p class="text-color-white text-14">MST 0106800912 được cấp ngày 24/03/2015 do sở KH và ĐT TP Hà Nội</p>
        </div>
    </div>
</footer>