<header class="headerContainer">
    <section class="topHeader">
        <div class="nav">
           <div>
                <a href="#" class="text-uppercase">lipstick.vn</a>
                <span>|</span>
                <a href="#" class="text-uppercase">ThePerfume.vn</a>
                <span>|</span>
                <a href="#" class="text-uppercase">TheFlowers.vn</a>
           </div>
           <div>
                <a href="#" class="text-capitalize">Giới Thiệu</a>
                <span>|</span>
                <a href="#" class="text-capitalize">Liên hệ</a>
           </div>
        </div>
    </section>
    <div class="headerMain">
        <input type="text" placeholder="Tìm kiếm"/>
        <img src="~/assets/images/lipstick-logo-black.png" alt="..."/>
        <div>
            <button>2312123511</button>
            <span>
                Giỏ hàng / 0
            </span>
            <img src="~/assets/images/logo-cart-1.png" alt="..."/>
        </div>
    </div>
    <div class="headerBottom">
        <a href="#" class="text-uppercase">Son môi</a>
        <a href="#" class="text-uppercase">TRANG ĐIỂM MẮT</a>
        <a href="#" class="text-uppercase">TRANG ĐIỂM MẶT</a>
        <a href="#" class="text-uppercase">CHĂM SÓC DA</a>
        <a href="#" class="text-uppercase">CHĂM SÓC CƠ THỂ</a>
        <a href="#" class="text-uppercase">CHĂM SÓC TÓC</a>
        <a href="#" class="text-uppercase">THƯƠNG HIỆU</a>
        <a href="#" class="text-uppercase">Blog</a>
    </div>
</header>