<div class="homeBanner">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="banner bannerOne position-relative">
                    <div class="effect-snow"></div>
                    <div class="bannerIntro position-absolute">
                        <h3>Lipstick.vn chuyen phan phoi...</h3>
                        <br/>
                        <p>Son moi cao cap</p>
                        <p>PHAP, NHAT, MY...</p>
                        <br/>
                        <div class="d-flex">
                            <button>TOM FORD</button>
                            <button>CHANEL</button>
                            <button>LOUBOUTIN</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner bannerTwo">
                    <div class="effect-sparkle"></div>
                    <div class="bannerIntro position-absolute">
                        <p>Son moi cao cap...</p>
                        <br/>
                        <p>CHINH HANG</p>
                        <p>Tom Ford, Louboutin, Chanel..</p>
                        <br />
                        <button>MUA NGAY</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="categorySuggestion row mt-3 mb-3">
        <div class="col-6 row">
            <div class="col-6">
                <div class="suggestion suggestionOne">
                    <div>
                        <p>THE LIMITED</p>
                        <p>LIPSTICK</p>
                        <p>XEM NGAY</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="suggestion suggestionTwo">
                    <div>
                        <button>SON DUONG</button>
                        <button>MUA NGAY</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="suggestion suggestionThree">
                <div>
                    <p>BO TRANG DIEM HOT NHAT 2018</p>
                </div>
            </div>
        </div>
    </div>
</div>