<div class="homeContent">
    <div class="fillter">
        <ul>
            <li>Hot Nhat</li>
            <li>Moi Nhat</li>
            <li>Giam Gia</li>
        </ul>
    </div>
    <div class="productList">

    </div>
    <div class="blog">
        <div>
            <img src="~/assets/images/blog-3-home.jpg" />
        </div>
        <div>
            <img src="~/assets/images/blog-2-home.jpg" />
        </div>
        <div>
            <img src="~/assets/images/Son-Marc-Jacobs.jpg" />
        </div>
    </div>
</div>