<div class="homeBanner">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="banner bannerOne position-relative">
                    <div class="effect-snow"></div>
                    <div class="bannerIntro position-absolute">
                        <h3 class="text-color-white">Lipstick.vn chuyen phan phoi...</h3>
                        <div class="is-diliver"></div>
                        <p class="text-color-white">Son moi cao cap</p>
                        <p class="text-color-white">PHAP, NHAT, MY...</p>
                        <div class="is-diliver"></div>
                        <div class="d-flex">
                            <button class="button-white-border">TOM FORD</button>
                            <button class="button-white-border ms-2 me-2">CHANEL</button>
                            <button class="button-white-border">LOUBOUTIN</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner bannerTwo">
                    <div class="effect-sparkle"></div>
                    <div class="bannerIntro position-absolute">
                        <h3 class="text-color-white">Son moi cao cap...</h3>
                        <div class="is-diliver"></div>
                        <p class="text-color-white">CHINH HANG</p>
                        <p class="text-color-white">Tom Ford, Louboutin, Chanel..</p>
                        <div class="is-diliver"></div>
                        <button class="button-white-border">MUA NGAY</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="categorySuggestion mt-3 mb-3">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <div class="suggestion suggestionOne">
                            <div>
                                <p class="text-center mb-1 text-color-red">THE LIMITED</p>
                                <p class="text-center mb-1 text-color-red">LIPSTICK</p>
                                <p class="text-center mb-1 text-color-red">XEM NGAY</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="suggestion suggestionTwo">
                            <div class="d-flex flex-column">
                                <div class="button-pink mb-2">SON DUONG</div>
                                <div class="button-red">MUA NGAY</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="suggestion suggestionThree">
                    <div>
                        <span class="text-color-pink mx-3 my-3">BO TRANG DIEM HOT NHAT 2018</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>