@{
    ViewData["Title"] = "Home Page";
}
<style>
    #chartdiv {
        width: 100%;
        height: 80vh;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="chartdiv"></div>
</div>
<script src="~/lib/chartJS/index.js"></script>
<script src="~/lib/chartJS/xy.js"></script>
<script src="~/lib/chartJS/themes/Animated.js"></script>
<script src="~/js/chartColoumn.js"></script>