@model List<ProductionViewModel>

@{
    ViewData["Title"] = "Production Page";
}

<div>
    <div class="d-flex justify-content-between">
        <span style="font-size:26px; font-weight:600;">Danh sach san pham</span>
        <a class="btn btn-success" asp-action="Create" asp-controller="Production">Add</a>
    </div>
    <div id="productionList">
        @await Html.PartialAsync("./_ProductionList",Model)
    </div>
</div>