@model SharedLibrary.UserInterfaceDTO.MenuGroupUI

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>MenuGroupUI</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameEN" class="control-label"></label>
                <input asp-for="NameEN" class="form-control" />
                <span asp-validation-for="NameEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameVN" class="control-label"></label>
                <input asp-for="NameVN" class="form-control" />
                <span asp-validation-for="NameVN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscriptionEN" class="control-label"></label>
                <input asp-for="DiscriptionEN" class="form-control" />
                <span asp-validation-for="DiscriptionEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscriptionVN" class="control-label"></label>
                <input asp-for="DiscriptionVN" class="form-control" />
                <span asp-validation-for="DiscriptionVN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
