@import "VariableGlobal.scss";
/*#region header*/
.headerContainer {
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);

    .topHeader {
        width: 100%;
        background-color: $color_black_1e1e1e;

        .nav {
            height: 30px;
            width: 100%;
            max-width: $maxWidthContent;
            display: flex;
            justify-content: space-between;
            margin: auto;

            a, span {
                color: $color_white_fff;
                text-decoration: unset;
                font-size: 11px;
            }

            a {
                margin: 0 6px;
            }

            a:hover {
                color: $color_pink_e72f8b;
            }
        }
    }

    .headerMain {
        max-width: $maxWidthContent;
        margin: auto;
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .boxSearch {
            width: 258px;
            height: 35px;

            #inputSearch {
                width: 100%;
                height: 100%;
                border-radius: 22px;
                border-color: rgba(0,0,0,.09);
                background-color: rgba(0,0,0,.03);
                padding: 0 8px;
            }

            .ti-search {
                width: 30px;
                height: 100%;
                font-weight: 900;
                position: absolute;
                font-size: larger;
                top: 0;
                right: 0;
                display: flex;
                align-content: center;
                flex-wrap: wrap;
            }
        }

        .logo {
            max-height: 206px;
        }

        .call {
            display: flex;
            flex-direction: row;
            height: 39px;
            width: 155px;
            border: 2px solid #333;
            border-radius: 22px;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            color: #000;
            opacity: 0.5;

            svg {
                margin-right: 6px;
            }
        }

        .cart {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left:8px;

            .cartImage {
                height: 32px;
                width: 30px;
            }
        }
    }

    .headerBottom {
        max-width: $maxWidthContent;
        margin: auto;
        height: 46px;

        a {
            padding: 0 14px;
            color: $color_black_000000;
            font-size: 14px;
            text-decoration: unset;
            border-left: 1px solid #ccc;
        }

        a:first-child {
            border-left: unset;
        }

        a:hover {
            color: $color_pink_e72f8b;
        }
    }
}
/*#endregion*/

/*#region footer*/
.footerContainer {
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
    background-color: $color_black_000000;

    .topFooter {
        width: 100%;
        margin: auto;
        max-width: $maxWidthFooterContent;
    }

    .bottomFooter {
        width: 100%;
        margin: auto;
        max-width: $maxWidthFooterContent;
    }

    ul li {
        list-style-type: none;
    }

    ul li a {
        color: $color_white_fff;
        text-decoration: none;
    }

  /*  .is-diliver {
        height: 3px;
        display: block;
        background-color: rgba(255,255,255,0.3);
        margin: 1em 0;
        width: 100%;
        max-width: 30px;
    }*/
}
/*#endregion*/

/*#region item*/
.item {
    border: 1px solid #d5d5d5;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.item .showImgHover,
.item:hover .showImg {
    display: none;
}

.item:hover .showImgHover {
    display: unset;
}

.item:hover {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(136.66deg, #f05c90 -9.13%, #ed11ea 92.54%);
}

.item:hover .itemInfor {
    border-top: 1px solid #e72f8b;
}

.itemInfor {
    border-top: 1px solid #d5d5d5;
    padding: 5px;

    p {
        margin-bottom: 4px;
    }

    .brand {
        font-family: var(--font-SVN-Gotham-Light);
    }

    .nameProduction {
        font-family: var(--font-SVN-Gotham-Regular);
        line-height: 1.3;
        font-size: 16px;
    }

    .priceOld {
        color: #272624;
        font-size: 14px;
    }

    .priceOld {
        color: #615F5C;
        font-size: 14px;
    }

    .discount {
        color: #e72f8b;
        font-size: 14px;
    }
}
/*#endregion*/
