@import "VariableGlobal.scss";

.productDetailsPage {
    max-width: $maxWidthContent;
    margin: auto;
    .summaryAboutProduct{
        max-width: 860px;
        margin: auto;
        border: 1px  solid $color_black_000000;
    }
}
