* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: customFont, helvetica, arial, sans-serif;
}

/*#region header*/
.headerContainer {
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
}
.headerContainer .topHeader {
  width: 100%;
  background-color: #1e1e1e;
}
.headerContainer .topHeader .nav {
  height: 30px;
  width: 100%;
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.headerContainer .topHeader .nav a, .headerContainer .topHeader .nav span {
  color: #fff;
  text-decoration: unset;
  font-size: 11px;
}
.headerContainer .topHeader .nav a {
  margin: 0 6px;
}
.headerContainer .topHeader .nav a:hover {
  color: #e72f8b;
}
.headerContainer .headerMain {
  max-width: 1050px;
  margin: auto;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerContainer .headerBottom {
  max-width: 1050px;
  margin: auto;
  height: 46px;
}
.headerContainer .headerBottom a {
  padding: 0 14px;
  color: #000000;
  font-size: 14px;
  text-decoration: unset;
  border-left: 1px solid #ccc;
}
.headerContainer .headerBottom a:first-child {
  border-left: unset;
}
.headerContainer .headerBottom a:hover {
  color: #e72f8b;
}

/*#endregion*/
/*#region footer*/
.footerContainer {
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
  background-color: #000000;
}
.footerContainer .topFooter {
  width: 100%;
  margin: auto;
  max-width: 1050px;
}
.footerContainer .bottomFooter {
  width: 100%;
  margin: auto;
  max-width: 1050px;
}

/*#endregion*/
