* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: Tinos, helvetica, arial, sans-serif;
}

/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
/*#region text-color*/
.text-color-white {
  color: #fff;
}

.text-color-black {
  color: #1e1e1e;
}

/*#endregion*/
/*#region text-style*/
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/*#endregion*/
/*#region font-size */
.text-level-1 {
  font-size: 60px;
}

.text-level-2 {
  font-size: 40px;
}

.text-level-3 {
  font-size: 30px;
}

.text-level-4 {
  font-size: 24px;
}

.text-level-5 {
  font-size: 23px;
}

.text-level-6 {
  font-size: 22px;
}

.text-level-7 {
  font-size: 21px;
}

.text-level-8 {
  font-size: 20px;
}

.text-level-9 {
  font-size: 19px;
}

.text-level-10 {
  font-size: 20px;
}

.text-level-11 {
  font-size: 15px;
}

.text-level-12 {
  font-size: 14px;
}

.text-level-13 {
  font-size: 13px;
}

@media only screen and (max-width: 767.9px) {
  .text-level-1 {
    font-size: 60px;
  }
  .text-level-2 {
    font-size: 40px;
  }
  .text-level-3 {
    font-size: 30px;
  }
  .text-level-4 {
    font-size: 24px;
  }
  .text-level-5 {
    font-size: 23px;
  }
  .text-level-6 {
    font-size: 22px;
  }
  .text-level-7 {
    font-size: 21px;
  }
  .text-level-8 {
    font-size: 20px;
  }
  .text-level-9 {
    font-size: 19px;
  }
  .text-level-10 {
    font-size: 20px;
  }
  .text-level-11 {
    font-size: 15px;
  }
  .text-level-12 {
    font-size: 14px;
  }
  .text-level-13 {
    font-size: 13px;
  }
}
/*#endregion*/
/*#region width*/
/*#endregion*/
/*#region color*/
/*#endregion*/
/*#region font-size*/
/*#region*/
/*#region responsive*/
/*#endregion*/
/*#region header*/
.headerContainer {
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
}
.headerContainer .topHeader {
  width: 100%;
  background-color: #1e1e1e;
}
.headerContainer .topHeader .nav {
  height: 30px;
  width: 100%;
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.headerContainer .topHeader .nav a, .headerContainer .topHeader .nav span {
  color: #fff;
  text-decoration: unset;
  font-size: 11px;
}
.headerContainer .topHeader .nav a {
  margin: 0 6px;
}
.headerContainer .topHeader .nav a:hover {
  color: #e72f8b;
}
.headerContainer .headerMain {
  max-width: 1050px;
  margin: auto;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerContainer .headerBottom {
  max-width: 1050px;
  margin: auto;
  height: 46px;
}
.headerContainer .headerBottom a {
  padding: 0 14px;
  color: #000000;
  font-size: 14px;
  text-decoration: unset;
  border-left: 1px solid #ccc;
}
.headerContainer .headerBottom a:first-child {
  border-left: unset;
}
.headerContainer .headerBottom a:hover {
  color: #e72f8b;
}

/*#endregion*/
/*#region footer*/
.footerContainer {
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
  background-color: #000000;
}
.footerContainer .topFooter {
  width: 100%;
  margin: auto;
  max-width: 1080px;
}
.footerContainer .bottomFooter {
  width: 100%;
  margin: auto;
  max-width: 1080px;
}
.footerContainer ul li {
  list-style-type: none;
}
.footerContainer ul li a {
  color: #fff;
  text-decoration: none;
}
.footerContainer .is-diliver {
  height: 3px;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 1em 0;
  width: 100%;
  max-width: 30px;
}

/*#endregion*/
