<footer>
    <div>
        <ul>
            <li>
                <a href="#">Liên hệ</a>
            </li>
            <li>
                <a href="#">Giới Thiệu</a>
            </li>
            <li>
                <a href="#">Đổi trả hàng</a>
            </li>
            <li>
                <a href="#">Điều Khoản</a>
            </li>
            <li>
                <a href="#">Chính sách bảo mật</a>
            </li>
            <li>
                <a href="#">Phương thức thanh toán</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">Tài Khoản</a>
            </li>
            <li>
                <a href="#">Yêu Thích</a>
            </li>
            <li>
                <a href="#">Giao hàng</a>
            </li>
            <li>
                <a href="#">Giỏ Hàng</a>
            </li>
            <li>
                <a href="#">Theo Dõi Đơn Hàng</a>
            </li>
        </ul>
    </div>
    <div>

    </div>
</footer>