<footer class="footerContainer">
    <div class="topFooter row">
        <ul class="col-3">
            <li>
                <div class="is-diliver"></div>
            </li>
            <li>
                <a href="#">Liên hệ</a>
            </li>
            <li>
                <a href="#">Giới Thiệu</a>
            </li>
            <li>
                <a href="#">Đổi trả hàng</a>
            </li>
            <li>
                <a href="#">Điều Khoản</a>
            </li>
            <li>
                <a href="#">Chính sách bảo mật</a>
            </li>
            <li>
                <a href="#">Phương thức thanh toán</a>
            </li>
        </ul>
        <ul class="col-3">
            <li>
                <div class="is-diliver"></div>
            </li>
            <li>
                <a href="#">Tài Khoản</a>
            </li>
            <li>
                <a href="#">Yêu Thích</a>
            </li>
            <li>
                <a href="#">Giao hàng</a>
            </li>
            <li>
                <a href="#">Giỏ Hàng</a>
            </li>
            <li>
                <a href="#">Theo Dõi Đơn Hàng</a>
            </li>
        </ul>
        <ul class="col-3">
            <li>
                <div class="is-diliver"></div>
            </li>
            <li>
                <img src="~/assets/images/Screenshot 2023-10-24 191303.png" alt="..."/>
            </li>
        </ul>
        <div class="col-3">
            <img src="~/assets/images/27be61a780e77d628043bf063332eecb.png" alt="..."/>
            <b> Lipstick.vn</b>
            <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ DỊCH VỤ LOTTESHOP VIỆT NAM</p>
            <p>LIPSTICK Hà Nội: Số 212 Bà Triệu, P.Lê Đại Hành, Q.Hai Bà Trưng, Hà Nội.</p>
            <p>Điện thoại: 0968.588.886</p>
            <p>LIPSTICK TP.HCM: Số 179 Huỳnh Văn Bánh, Phường 11, Quận Phú Nhuận, TP.Hồ Chí Minh.</p>
            <p>Điện thoại: 0968.588.886</p>
        </div>
    </div>
    <div class="bottomFooter row">
        <div class="col-6 d-flex flex-column">
            <img src="~/assets/images/DMCA_logo-std-btn120w.png" alt="..." />
            <span>
                <b>© 2014 LOTTESHOP.</b>
                All Rights Reserved.
            </span>
        </div>
        <div class="col-6">
            <img src="~/assets/images/dathongbao-300x114.png" />
            <p>MST 0106800912 được cấp ngày 24/03/2015 do sở KH và ĐT TP Hà Nội</p>
        </div>
    </div>
</footer>