<header>
    <div class="topBar">
       <div>
            <a href="#">lipstick.vn</a>
            <span>|</span>
            <a href="#">ThePerfume.vn</a>
            <span>|</span>
            <a href="#">TheFlowers.vn</a>
       </div>
       <div>
            <a href="#">Giới Thiệu</a>
            <span>|</span>
            <a href="#">Liên hệ</a>
       </div>
    </div>
    <div>
        <input type="text" placeholder="Tìm kiếm"/>
        <img src="~/assets/images/lipstick-logo-black.png" alt="..."/>
        <div>
            <button>2312123511</button>
            <span>
                Giỏ hàng / 0
            </span>
            <img src="~/assets/images/logo-cart-1.png" alt="..."/>
        </div>
    </div>
    <div>
        <a href="#">Son môi</a>
        <a href="#">TRANG ĐIỂM MẮT</a>
        <a href="#">TRANG ĐIỂM MẶT</a>
        <a href="#">CHĂM SÓC DA</a>
        <a href="#">CHĂM SÓC CƠ THỂ</a>
        <a href="#">CHĂM SÓC TÓC</a>
        <a href="#">THƯƠNG HIỆU</a>
        <a href="#">Blog</a>
    </div>
</header>